body {
	margin: 0;
}

.navbar {
	width: 80%;
	margin: 0 auto;
}

header  {
	background: #8c030d;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	/*
	font-size: 20px;
	text-transform: uppercase;
	*/
}

nav li {
	display: inline-block;
	margin-left: 250px;
	padding-top: 50px;
	position: relative;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	/*background: black;*/	
}

nav a:hover{
	color: #e5cd34;
}
